<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>PrvaVezba</servlet-name>
        <servlet-class>paketi.PrvaVezba</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DrugaVezba</servlet-name>
        <servlet-class>paketi2.DrugaVezba</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrikazKorpe</servlet-name>
        <servlet-class>paketi2.PrikazKorpe</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PrvaVezba</servlet-name>
        <url-pattern>/PrvaVezba</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DrugaVezba</servlet-name>
        <url-pattern>/DrugaVezba</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrikazKorpe</servlet-name>
        <url-pattern>/PrikazKorpe</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
