<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>PrvaVezba</servlet-name>
        <servlet-class>paketi.PrvaVezba</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DrugaVezba</servlet-name>
        <servlet-class>paketi2.DrugaVezba</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrikazKorpe</servlet-name>
        <servlet-class>paketi2.PrikazKorpe</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrecaVezba</servlet-name>
        <servlet-class>paket3.TrecaVezba</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NaruciKnjigu</servlet-name>
        <servlet-class>paket3.NaruciKnjigu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CetvrtaVezba</servlet-name>
        <servlet-class>paketi4.CetvrtaVezba</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrviServlet</servlet-name>
        <servlet-class>paketi4.PrviServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DrugiServlet</servlet-name>
        <servlet-class>paketi4.DrugiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PetaVezba</servlet-name>
        <servlet-class>paketi5.PetaVezba</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CookieServlet</servlet-name>
        <servlet-class>paketi5.CookieServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletLista</servlet-name>
        <servlet-class>paket6.ServletLista</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PrvaVezba</servlet-name>
        <url-pattern>/PrvaVezba</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DrugaVezba</servlet-name>
        <url-pattern>/DrugaVezba</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrikazKorpe</servlet-name>
        <url-pattern>/PrikazKorpe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrecaVezba</servlet-name>
        <url-pattern>/TrecaVezba</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NaruciKnjigu</servlet-name>
        <url-pattern>/NaruciKnjigu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CetvrtaVezba</servlet-name>
        <url-pattern>/CetvrtaVezba</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrviServlet</servlet-name>
        <url-pattern>/PrviServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DrugiServlet</servlet-name>
        <url-pattern>/DrugiServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PetaVezba</servlet-name>
        <url-pattern>/PetaVezba</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CookieServlet</servlet-name>
        <url-pattern>/CookieServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLista</servlet-name>
        <url-pattern>/ServletLista</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
